
<h1></h1>
<table class="styled-table">
  <thead>
      <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>PRICE</th>
          <th>COLOR</th>
          <th colspan="2"></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let celulares of celularesList">
          <td *ngIf="celulares.data?.price">{{celulares.id}}</td>
          <td *ngIf="celulares.data?.price">{{celulares.name}}</td>
          <td *ngIf="celulares.data?.price">{{celulares.data.price}}</td>
          <td *ngIf="celulares.data?.price">{{celulares.data.color}}</td>
          <td colspan="2"></td>
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <td></td>
          <td><input #nameInput [(ngModel)]="name" placeholder="NAME"></td>
          <td><input #priceInput type="number" [(ngModel)]="price" placeholder="PRICE" min="0"></td>
          <td><input #colorInput [(ngModel)]="color" placeholder="COLOR"></td>
          <td colspan="2">
            <button class="angular-button" (click)="save()" [disabled]="isAdding">AGREGAR</button>
          </td>
      </tr>
  </tfoot>
</table>


<ng-template #see let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Vista celular</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body custom-modal-body">
    <div>
      <label>ID:</label>
      <input type="text" [(ngModel)]="id2"  disabled />
    </div>
    <div>
      <label>Nombre:</label>
      <input type="text" #nameInput2 [(ngModel)]="name2" />
    </div>
    <div>
      <label>Price:</label>
      <input type="number" #priceInput2 [(ngModel)]="price2" />
    </div>
    <div>
      <label>Color:</label>
      <input type="text" #colorInput2 [(ngModel)]="color2" />
    </div>
  </div>
  <div class="modal-footer">
    <button class="angular-button" (click)="update(modal)">Update</button>
    <button type="button" class="angular-button" (click)="modal.dismiss('Cancel click')">Cancelar</button>
  </div>
</ng-template>


  


